<!DOCTYPE html>

<html lang="pt-br">
	<head>

		<title>
			Página do aluno Mattheus Jucá no curso de CES-26 - Desenvolvimento Web
		</title>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Mattheus Jucá">
		<meta name="description" content="Página onde serão expostas as tarefas realizadas pelo aluno Mattheus Martins Jucá na disciplina de CES-26 - Desenvolvimento de Aplicações para Internet ministrada pelo Prof. Yano no Instituto Tecnológico de Aeronáutica.">

		<link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.css" />
		<link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css" />

		<link rel="stylesheet" type="text/css" href="/stylesheets/Layout.css" />

		<!-- Scripts do Angular2 -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.33.3/es6-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.20/system-polyfills.js"></script>
    <script src="https://code.angularjs.org/2.0.0-beta.6/angular2-polyfills.js"></script>
    <script src="https://code.angularjs.org/tools/system.js"></script>
    <script src="https://code.angularjs.org/tools/typescript.js"></script>
    <script src="https://code.angularjs.org/2.0.0-beta.6/Rx.js"></script>
    <script src="https://code.angularjs.org/2.0.0-beta.6/angular2.dev.js"></script>

		<script src="/scripts/jquery.min.js"></script>
		<script src="/scripts/jquery-ui.js"></script>
		<script src="/scripts/angular-1.0.1.min.js"></script>

		<script src="/scripts/semana2.js"></script>
		<script src="/scripts/semana4.js"></script>
		<script src="/scripts/semana5.js"></script>
		<script src="/scripts/semana6.js"></script>

	</head>

	<body>

		<nav>
			<div class="center_box">
				<h1>
					<img src="/images/Brasao_ITA_cmyk.gif" alt="Instituo Tecnológico de Aeronáutica" style="width:200px;height:76px;"></img>
					<br />
					Página do aluno Mattheus Jucá no curso de CES-26 - Desenvolvimento Web
				</h1>
				<ul>
					<li><a href="http://www.ita.br">ITA</a></li>
					<li><a href="https://github.com/dextert17/ces26-tasks">GitHub</a></li>
				</ul>
			</div>
		</nav>

		<section>
			<div class="center_box">
  			<p>Página onde serão expostas as tarefas realizadas pelo aluno Mattheus Martins Jucá na disciplina de CES-26 - Desenvolvimento de Aplicações para Internet ministrada pelo Prof. Yano no Instituto Tecnológico de Aeronáutica.</p>
  		</div>
		</section>

		<article>
			<div class="center_box">
				<h1>TAREFAS 1º BIMESTRE</h1>
				<br/>
				<div class="col_info">
					<h1>TAREFA SEMANA 2</h1>
					<p id="hello-world"></p>
					<button type="button" onclick="hello()" id="hello">Hello</button>
					<button type="button" onclick="bye()" style="visibility:hidden; display:none;" id="bye">Bye</button>
				</div>
				<div class="col_info">
					<h1>TAREFA SEMANA 3</h1>
					<div class="col_info_intern">
						<h3>Form com GET</h3>
						<form action="http://localhost:3000/process_get" method="GET">
							<br>
							<input type="text" name="firstname" placeholder="First Name">
							<br>
							<input type="text" name="lastname" placeholder="Last Name">
							<br><br>
							<input type="submit" value="Submit">
						</form>
					</div>
					<div class="col_info_intern">
						<h3>Form com POST</h3>
						<form action="http://localhost:3000/process_post" method="POST">
							<br>
							<input type="text" name="firstname" placeholder="First Name">
							<br>
							<input type="text" name="lastname" placeholder="Last Name">
							<br><br>
							<input type="submit" value="Submit">
						</form>
					</div>
				</div>
				<div class="col_info">
					<h1>TAREFA SEMANA 4</h1>
					<div id="before_curriculum">
						<h3>Preenchimento de Currículo</h3>
						<form id="curriculum_form">
							<p>Dados Pessoais</p>
							<input id="first" class="form_input" type="text" name="nome" placeholder="Nome Completo">
							<br>
							<input class="form_input" type="number" name="idade" placeholder="Idade">
							<br>
							<select id="last_personal" name="cargo_pretendido">
								<option value="" disabled selected>Cargo Pretendido</option>
    						<option value="Summer">Summer</option>
    						<option value="Estagiário">Estagiário</option>
    						<option value="Analista">Analista</option>
    						<option value="Coordenador">Coordenador</option>
    						<option value="Gerente">Gerente</option>
  						</select>
							<p id="professional_exp" title="Escolha a experiência que considerou mais relevante na sua carreira">
								Experiência Profissional
								<span> (?)</span>
							</p>
							<input class="form_input" type="text" name="empresa" placeholder="Empresa">
							<br>
							<input class="form_input" type="text" name="cargo" placeholder="Cargo">
							<br>
							<input class="form_input" type="text" name="tempo" placeholder="Tempo na Empresa">
							<br><br>
							<input id="uploadButton" type="submit" value="Verifique Seu Currículo">
						</form>
					</div>
					<div id="after_curriculum">
						<h3>Currículo Preenchido</h3>	
						<h4>Dados Pessoais</h4>
						<button type="button" id="new_form">Cadastrar Novo</button>
					</div>
				</div>
				<div class="col_info" ng-app>
					<h1>TAREFA SEMANA 5</h1>
        	<div ng-controller="PalindromoController">
        		<form id="palindromo_form">
      				<input type="text" name="palindromo" placeholder="Escreva um palíndromo" ng-model="new_palindromo">
      				<br><br>
      				<button ng-click="verifyString()">Adicionar Palíndromo</button>
    				</form>
    				<br><br>
        		<table>
          		<thead>
            		<tr>
              		<th>Palíndromos</th>
            		</tr>
          		</thead>
          		<tbody>
            		<tr ng-repeat="word in palindromos">
              		<td>{{ word.palindromo }}</td>
            		</tr>
          		</tbody>
        		</table>
    			</div>
				</div>
				<div class="col_info">
					<h1>TAREFA SEMANA 6</h1>
					<my-app>Loading...</my-app>
				</div>
			</div>
			<div class="center_box">
				<h1>TAREFAS 2º BIMESTRE</h1>
				<br/>
				<i class="fa fa-cog fa-spin fa-5x fa-fw"></i>
				<span class="sr-only">Loading...</span>
				<p>Mais coisa vem por aí, aguarde...</p>
			</div>
		</article>

		<footer>
			<div class="center_box">
				Copyright © Mattheus M. Jucá
			</div>
		</footer>
	
	</body>

</html>