@charset "UTF-8";
/* Vari├íveis */
/* Classes e IDs pr├®vios */
* {
  box-sizing: border-box; }

.all_display, body, body section, body article, body footer {
  width: 100%;
  margin: 0; }

.center_element {
  margin-left: auto;
  margin-right: auto; }

/* body */
body {
  height: 100%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: center;
  /* classes e IDs de text */
  /* IDs de link */
  /* IDs de form */
  /* classes e IDs de div */
  /* class de ul */ }
  body nav {
    position: relative;
    display: block;
    overflow: auto;
    width: 100%;
    z-index: 30;
    background-color: #FFFFFF;
    border-bottom: 7px solid #F29100;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 8px 0 rgba(0, 0, 0, 0.19); }
    body nav a {
      display: block;
      color: #002F63;
      padding: 8px;
      text-decoration: none; }
      body nav a:hover {
        color: #F29100; }
    body nav ul {
      padding: 0;
      margin: 0 auto 0 auto; }
    body nav li {
      display: inline-block;
      padding-right: 1px;
      padding-bottom: 1px; }
  body section {
    float: left;
    overflow: auto;
    margin: 0;
    padding-top: 15px; }
  body article {
    overflow: auto;
    padding: 0 0 25px 0;
    float: left; }
  body footer {
    background-color: #002F63;
    padding: 1% 5px 5px 5px;
    color: white;
    clear: both;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 8px 0 rgba(0, 0, 0, 0.19); }
    body footer ul {
      display: inline-block;
      margin: 0 0 0 0;
      vertical-align: middle; }
    body footer li {
      float: left;
      padding-right: 7px; }
    body footer p {
      display: inline;
      margin: 0 0 5px 0; }
  body h4 {
    margin: 0;
    padding: 0; }
  body br {
    display: block;
    margin: 5px 0; }
  body button, body input[type=submit] {
    display: inline-block;
    padding: 8px 13px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    font-weight: bold;
    background-color: #F29100;
    border: none;
    border-radius: 7px;
    box-shadow: 0 4px #999; }
    body button:hover, body input[type=submit]:hover {
      background-color: #CC7A00; }
    body button:active, body input[type=submit]:active {
      background-color: #CC7A00;
      box-shadow: 0 2px #666;
      transform: translateY(3px); }
  body input[type=text], body input[type=number], body select {
    width: 100%;
    padding: 6px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; }
  body select {
    color: #999; }
  body table {
    border-collapse: collapse;
    width: 100%; }
    body table th, body table td {
      padding: 8px;
      text-align: left;
      border: 1px solid #ddd; }
    body table th {
      background-color: #ccc; }
    body table td:hover {
      background-color: #f5f5f5; }
  body #professional_exp {
    display: none; }
    body #professional_exp span {
      font-size: small; }
  body #copyright {
    font-size: 10px; }
  body .footer_link_text {
    color: #002F63; }
    body .footer_link_text:hover {
      color: white; }
  body .footer_link_github_text {
    color: white; }
    body .footer_link_github_text:hover {
      color: black; }
  body #link_github {
    color: white; }
    body #link_github:hover {
      color: #CCCCCC; }
  body #link_linkedin {
    color: white; }
    body #link_linkedin:hover {
      color: #0077B5; }
  body #link_mail {
    color: white; }
    body #link_mail:hover {
      color: #F29100; }
  body #curriculum_form input, body #curriculum_form select {
    display: none; }
  body #curriculum_form #first {
    display: inline; }
  body #palindromo_form ::-webkit-input-placeholder {
    text-align: center; }
  body #palindromo_form :-moz-placeholder {
    /* Firefox 18- */
    text-align: center; }
  body #palindromo_form ::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center; }
  body #palindromo_form :-ms-input-placeholder {
    text-align: center; }
  body .center_box {
    margin: 0 5% 0 5%;
    padding: 0; }
  body .col_info, body .col_info_intern {
    vertical-align: top;
    display: inline-block;
    padding: 0 10px 10px 10px;
    margin: 0 25px 25px 25px;
    box-shadow: 0 0 5px 2px #aaaaaa;
    max-width: 100%; }
  body .col_info_intern {
    box-shadow: 0 0 0 0 #FFFFFF; }
    body .col_info_intern h3 {
      display: inline;
      margin: 0;
      padding: 0; }
  body #after_curriculum {
    display: none;
    text-align: left; }
    body #after_curriculum p {
      font-size: 12px;
      line-height: 1px; }
    body #after_curriculum h3, body #after_curriculum h4 {
      text-align: center; }
    body #after_curriculum button {
      display: block;
      margin: 0 auto; }
  body .menu, body nav ul, body footer ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden; }

/*# sourceMappingURL=Layout.css.map */
